*{
    margin: 0px;
    border: 0px;
}
body{
    background-color:  white;
}
header{
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: rgb(123, 9, 152);
    box-shadow: 0px 0px 60px #000a02;
}

.titulo{
    font-size: 20px;
    text-align: center;
}

h3{
    font-weight: lighter;
}

main{
    align-items: center;
    justify-content: space-around;
    display: flex;
    text-align: center;
}

.sobre{
    font-style: arial;
    font-size: small;
    width: 500px;
    height:0.5px;
}

.detalhes{
    width: 500px;
    height:0.5px;
}

.image-container {
    position: relative;
    width: 400px; /* Defina o tamanho desejado para o container */
    height: 400px;
  }
  

.selfie, .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.3s ease-in-out; /* Adicione uma transição suave para um efeito mais agradável */
    height: 400px;
    border-radius: 50%;
    text-align: center;
    width: 400px;
    margin-top: 100px;
}

.hover-image {
    opacity: 0; /* Inicialmente, a imagem de hover fica transparente */
  }

.image-container:hover .hover-image {
    opacity: 1; /* Quando o cursor do mouse está sobre o container, a imagem de hover fica opaca */
  }

p{
    font-size: 20px;
    margin-bottom: 1.5em;
    line-height: 1.4em;
    font-family: sans-serif;
}

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
     bottom: 0;
    width: 100%;
    height: 2.5rem;
    gap:2rem;
    margin-bottom: 100px;
}

.email,.linkedin{
    height: 50px;
    border-radius: 50%;
    margin: 1rem;
}

.git{
    height: 65px;
    border-radius: 50%;
    margin: 1rem;
}

.curriculo{
    height: 52px;
    border-radius: 50%;
    margin: 1rem;
}